In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 한글처리
from matplotlib import rc, font_manager
font_name = font_manager\
                .FontProperties(fname='./D2Coding-Ver1.3.2-20180524.ttf')\
                .get_name()
rc('font', family=font_name)
rc('axes', unicode_minus=False) # 음수값처리

In [3]:
import glob
print(glob.glob('./data/*'))

['./data\\airline', './data\\alice_in_wonderland.txt', './data\\chatbot', './data\\daum.png', './data\\daum_1.png', './data\\db', './data\\excel', './data\\franchise', './data\\house_price.csv', './data\\little-women.txt', './data\\ml-1m', './data\\ml-latest-small', './data\\mobydick.txt', './data\\mybook.db', './data\\mybooks.db', './data\\mysqlite.db', './data\\mysqlite.db-journal', './data\\newfile.txt', './data\\newfile_01.txt', './data\\newfile_02.txt', './data\\newfile_copy.txt', './data\\np_save.csv', './data\\pandas', './data\\park', './data\\public_housing_price_2023', './data\\result.csv', './data\\savefigest.png', './data\\sohyan.bin', './data\\sohyang.bin', './data\\suppliers.csv', './data\\supplier_output.csv', './data\\test.bin', './data\\test01.txt', './data\\web', './data\\공시지가_2023년.csv', './data\\과일별선호도분석결과.png', './data\\구별공시지가.png', './data\\구별공시지가비율.png']

In [165]:
# csv -> df
df = pd.read_csv('./chatbot_project/data/car_data.csv', delimiter=',', encoding='cp949')

In [166]:
# df 기본정보
display(df.shape)
display(df.info())
display(df[['가격(최저가)','가격(최고가)']].describe())
display(df.head())
display(df.columns)

(416, 7)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       416 non-null    object
 1   가격(최저가)  416 non-null    int64
 2   가격(최고가)  416 non-null    int64
 3   크기       416 non-null    object
 4   연료       416 non-null    object
 5   연비       400 non-null    object
 6   이미지      416 non-null    object
dtypes: int64(2), object(5)
memory usage: 22.9+ KB

None

             가격(최저가)        가격(최고가)
count     416.000000     416.000000
mean    12296.026442   13414.694712
std     16654.300395   17302.656225
min      1290.000000    1655.000000
25%      4748.750000    5155.000000
50%      7369.000000    8177.500000
75%     14046.000000   15205.000000
max    220000.000000  220000.000000

,이름,가격(최저가),가격(최고가),크기,연료,연비,이미지
0,캐딜락 XT4,6120,6120,준중형 SUV,가솔린,10.3km/ℓ,https://search.pstatic.net/common?quality=75&d...
1,KGM 토레스,2666,3761,중형 SUV,"LPG,가솔린",11.2km/ℓ,https://search.pstatic.net/common?quality=75&d...
2,제네시스 GV70,5380,6230,중형 SUV,가솔린,10.2km/ℓ,https://search.pstatic.net/common?quality=75&d...
3,폭스바겐 제타,3426,3810,준중형 세단,가솔린,14.1km/ℓ,https://search.pstatic.net/common?quality=75&d...
4,볼보 EX30,4945,5516,소형 SUV,전기,NaN,https://search.pstatic.net/common?quality=75&d...

Index(['이름', '가격(최저가)', '가격(최고가)', '크기', '연료', '연비', '이미지'], dtype='object')

In [172]:
data = {"가격":"5000만원 이상 1억원 미만", "크기":"소형", "연료":"가솔린"}

In [173]:
# 가격 필터링

if data["가격"]=="5000만원 미만":
    df_price = df[df["가격(최저가)"]<5000]
elif data["가격"]=="5000만원 이상 1억원 미만":
    df_price = df[(df["가격(최저가)"]>=5000) & (df["가격(최저가)"]<10000)]
elif data["가격"]=="1억원 이상":
    df_price = df[df["가격(최저가)"]>=10000]
else:
    df_price = df

# 크기 필터링
if data["크기"] != "선택안함":
    df_size = df_price[df_price["크기"].str.split(" ").str[0] == data["크기"]]
else:
    df_size = df_price

# 연료 필터링

if data["연료"] != "선택안함":
    df_fuel = df_size[df_size["연료"].str.strip().str.split(",").apply(lambda x: data["연료"] in x)]
else:
    df_fuel = df_size

display(df_fuel)

,이름,가격(최저가),가격(최고가),크기,연료,연비,이미지
269,미니 해치백 JCW,5500,5500,소형 해치백,가솔린,11.4km/ℓ,https://search.pstatic.net/common?quality=75&a...
272,미니 클럽맨 S,5230,5520,소형 왜건,가솔린,10.6km/ℓ,https://search.pstatic.net/common?quality=75&a...
273,미니 클럽맨 JCW,6320,6340,소형 왜건,가솔린,9.7km/ℓ,https://search.pstatic.net/common?quality=75&a...
275,미니 컨트리맨 S,5650,5730,소형 SUV,가솔린,10.7km/ℓ,https://search.pstatic.net/common?quality=75&a...
276,미니 컨트리맨 JCW,6550,6550,소형 SUV,가솔린,10.4km/ℓ,https://search.pstatic.net/common?quality=75&a...
278,미니 컨버터블 S,5270,5270,소형 컨버터블,가솔린,12km/ℓ,https://search.pstatic.net/common?quality=75&a...
279,미니 컨버터블 JCW,5930,5930,소형 컨버터블,가솔린,11.3km/ℓ,https://search.pstatic.net/common?quality=75&a...